nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(8, 8, 95);
  height: 80px;
  color: white;
  padding: 10px 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  
}

ul li {
  margin: 0 50px;
  cursor: pointer;
  list-style: none;
  font-size: large;
}

.right-section input {
  padding: 5px;
  border: none;
  height: 30px;
  border-radius: 3px;
  max-width: 200px;
}




.right-section button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  height: 40px;
  margin-left: -5px;
  border-radius: 3px;
  background-color: green;
  color: white;
  cursor: pointer;
}
.middle-section ul li:hover {
  
  color: yellow;
  text-decoration: underline;
}

.logo {
  width: 150px;
  height: auto;
}

ul li:hover{
  color: yellow;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  ul {
    flex-direction: column;
    gap: 15px;
  }

  .right-section {
    margin-top: 10px;
  }
}
