nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(8, 8, 95);
  color: white;
  padding: 10px 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0 10px;
  cursor: pointer;
  list-style: none;
}

.right-section input {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.right-section button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  margin-left: -5px;
  border-radius: 3px;
  background-color: green;
  color: white;
  cursor: pointer;
}
.middle-section ul li:hover {
  background-color: yellow;
  color: blue;
}

.logo {
  width: 100px;
  height: auto;
}

ul li:hover{
  color: yellow;
}



